:root {
  /* Dark Theme */
  --dark-background: linear-gradient(180deg, rgba(27, 37, 38, 1) 15%, rgba(98, 166, 133, 1) 100%);
  --dark-background2: #5D797B;
  --dark-background3: #1b2526;
  --dark-primary: #ccd6f6;
  --dark-primary2: #1b2526;
  --dark-green: #62A685;
  --dark-white: #ffffff;
  --dark-button: #1b2526;

  /* Light Theme */
  --light-background: linear-gradient(0deg, rgba(98, 166, 133, 1) 0%, rgba(69, 164, 162, 1) 100%);
  --light-background2: #62A685;
  --light-background3: #45a4a2;
  --light-primary: #ffffff;
  --light-primary2: #ffffff;
  --light-green: #fbd44a;
  --light-white: #fbd44a;
  --light-button: #fbd44a;

  /* Active Theme */
  --background: var(--dark-background);
  --background2: var(--dark-background2);
  --background3: var(--dark-background3);
  --primary: var(--dark-primary);
  --primary2: var(--dark-primary2);
  --green: var(--dark-green);
  --white: var(--dark-white);
  --button: var(--dark-button);
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background: var(--background);
  color: var(--primary);
}

/* Headings */
h1, h2, h3, h4, h5, h6, p {
  font-style: normal;
  margin: 0;
}

h1 {
  font-size: 3rem;
  font-weight: 400;
}

h2 {
  font-size: 2rem;
  font-weight: 100;
}

h3 {
  font-size: 3.5rem;
  font-weight: 100;
}

h4 {
  font-size: 2rem;
  font-weight: 700;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
}

h6 {
  font-size: 1rem;
  font-weight: 100;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

/* Header */

header {
  background-color: var(--background3);
  color: var(--dark-primary);
  width: 100%;
  padding: 1rem 3rem;
  box-sizing: border-box;
}

header .toggle-switch {
  padding: 1rem 0 0 0;
}

/* container for dark-mode toggle */
header .controls {
  display: flex;
  justify-content: end;
  padding: 0;
}

nav.nav-center {
  margin: 0;
  width: 100%;
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.logo {
  margin: 16px 0;
  font-family: 'Anonymous Pro', monospace;
  color: var(--green);
}

.nav-toggle {
  font-size: 1.5rem;
  color: var(--primary);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:active {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}

ul {
  text-decoration: none;
  list-style: none;
  padding: 0;
  color: var(--primary);
}

header li a {
  text-decoration: none;
  padding-bottom: 1rem;
  border-bottom: 1px solid transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
}

.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.links a {
  font-size: 1rem;
  font-family: 'Anonymous Pro', monospace;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  padding-bottom: 2rem;
}

.links a:hover {
  background: var(--clr-primary-8);
  color: var(--green);
}

.show-links {
  height: auto;
  display: flex;
  flex-direction: column;
}

.nav-center.responsive .links {
  display: flex;
}

.social-icons {
  display: none;
}

.social-icons a {
  padding: 0;
  margin: 0;
}

.social-icons i:hover {
  color: var(--green);
}

@media screen and (min-width: 1068px) {
  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-header {
    padding: 0;
  }

  .nav-toggle {
    display: none;
  }

  .links {
    height: auto;
    display: flex;
    flex-direction: row;
  }

  .links a {
    padding: 0;
    margin: 0 1rem;
  }

  .links a:hover {
    padding: 0;
    background: transparent;
    border-bottom: 1px solid var(--green);
    color: var(--green);
  ;
  }

  .social-icons {
    display: flex;
  }

  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }

  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}

/* Hero Section */
.hero-image {
  background: center / cover no-repeat;
  position: relative;
  display: flex;
  height: 85dvh;
  scroll-snap-align: center;
  margin: 0;
}

.hero-text {
  text-align: left;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.main {
  margin: 0;
  color: var(--primary);
}

.name {
  margin: 0;
  color: var(--green);
  font-size: 6rem;
  font-weight: 900;
}

.title {
  margin: 0;
  font-family: "Playwrite CU", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 4rem;
  color: var(--primary);
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
  header {
    padding: 1rem;
  }

  .hero-image {
    height: 100%;
  }

  .hero-text {
    padding: 1rem;
  }

  .name {
    font-size: 4rem;
  }

  .title {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 480px) {
  .hero-image {
    max-height: 50dvh;
  }

  .hero-text {
    padding: 3rem 1rem;
    width: 100%;
  }

  .main {
    font-size: 2rem;
  }

  .name {
    font-size: 2rem;
  }

  .title {
    font-size: 1rem;
  }
}

/* Projects */
.projects {
  background: var(--background2) center / cover no-repeat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem;
  scroll-snap-align: center;
}

.projects h2 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 2rem;
  color: var(--primary2);
  margin-bottom: 1rem;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.project {
  padding: 2rem;
  margin: 2rem;
  background-color: var(--white);
  width: 30%;
}

.project .image-container {
  max-width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.project .image-container img {
  display: block;
  max-width: 100%;
  transition: transform 250ms;
}

.project .image-container img:hover {
  transform: scale(1.1);
}

.project .content {
  padding-top: 2rem;
  text-align: center;
  align-items: center;
}

.project h2,
.project h3,
.project h6,
.skill-icon i {
  color: #4a4a4a;
}

.project h2 {
  font-size: 4vw;
  margin-bottom: 1rem;
}

.project h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
}

.project h6 {
  margin: 1rem 0;
}

.skill-icon i {
  padding: 0 1rem 2rem 0;
}

@media only screen and (max-width: 768px) {
  .projects {
    flex-wrap: wrap;
  }

  .project {
    width: 80%;
    background-color: #ffffff;
  }
}

@media only screen and (max-width: 480px) {
  .projects {
    flex-direction: column;
    padding: 3rem 1rem;
  }

  .project {
    width: 80%;
  }
}

/* Experience */
.experience {
  height: 100%;
  background-color: var(--background3);
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem 3rem 3rem;
  scroll-snap-align: center;
}

.experience h2 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 2rem;
  color: var(--green);
  margin: 2rem 0;
}

.experience-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.experience-circle {
  position: relative;
  width: 330px;
  height: auto;
  margin: 1rem;
}

.experience-circle .image {
  display: block;
  width: 35%;
  height: auto;
  opacity: 1;
  border-radius: 50%;
  backface-visibility: hidden;
  transition: 0.5s ease;
}

.experience-circle:hover .image {
  opacity: 0.3;
}

.experience-location,
.text-circle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 50%;
  align-content: center;
}

.text-circle {
  width: 85%;
  height: 85%;
  text-align: center;
}

.experience-circle:hover .experience-location,
.text-circle {
  opacity: 1;
}

.experience-location {
  background-color: var(--green);
}

h4.employer {
  color: #1b2526;
  margin-top: 2rem;
  font-size: 1.25rem;
}

.experience-location p,
h5.date {
  color: #1b2526;
  font-size: 0.75rem;
}

h5.date {
  margin-top: 1rem;
  font-size: 1rem;
}

@media only screen and (max-width: 1140px) {
  .experience {
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .experience-circle {
    width: 45%;
  }
}

@media only screen and (max-width: 768px) {
  .experience-circle {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {
  h4.employer {
    margin-top: 1rem;
    font-size: 1rem;
  }

  h5.date {
    margin-top: 0.75rem;
    font-size: 0.75rem;
  }

  .text-circle p {
    display: none;
  }
}

@media only screen and (max-width: 300px) {
  h4.employer {
    font-size: 0.75rem;
  }

  h5.date {
    margin-top: 0.5rem;
    font-size: 0.75rem;
  }

  .text-circle p {
    display: none;
  }
}

/* Contact Section */
.contact {
  height: 100%;
  background: #62A685 center/cover no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3rem;
  scroll-snap-align: center;
}

.contact-container h2 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 1rem;
}

.contact-container h3,
.email-header {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.5rem;
  font-weight: 100;
  color: #fff;
  margin: 1rem 0;
}

/* Contact Form */
.form-container {
  padding: 1rem;
  font-family: 'Anonymous Pro', monospace;
}

.contact-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .form-container {
    width: 100%;
  }
}

input[type="text"],
input[type="email"],
textarea {
  font-family: 'Anonymous Pro', monospace;
  width: 100%;
  padding: 0.75rem;
  margin: 6px 0 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  resize: vertical;
}

input[type="submit"] {
  background-color: var(--button);
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--button);
  color: var(--background);
}

label {
  color: #fff;
}

/* Footer */
footer {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  text-align: center;
  border-top: 1px solid;
  background-color: var(--background3);
  color: var(--background2);
  list-style: none;
}

ul.left-nav,
ul.mid-nav,
ul.right-nav {
  padding: 0;
}

.left-nav li,
.mid-nav li,
.right-nav li {
  display: inline-block;
  font-family: 'Anonymous Pro', monospace;
  font-size: 1rem;
}

.left-nav li {
  color: var(--primary);
  text-align: left;
  padding: 1rem 0;
  font-weight: 100;
  text-decoration: none;
}

.mid-nav li {
  padding: 1rem;
}

.right-nav li {
  padding: 1rem 0.5rem;
}

.mid-nav a,
.right-nav a {
  color: var(--primary);
  text-decoration: none;
  font-family: 'Anonymous Pro', monospace;
}

.mid-nav a:hover,
.right-nav a:hover {
  color: var(--green);
}

@media only screen and (max-width: 480px) {
  .bottom-nav {
    display: block;
    float: none;
  }
}