body {
    background: #0f172a;
    color: #94A3B8;
    padding: 24px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}

h1 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.5rem;
  color: #64FFDA;
}

h2 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1rem;
  font-weight: 100;
  color: #64FFDA;
  padding: 1rem 0 0 0;
  margin: 2rem 0 0 0;
}

h3 {
  font-size: 2.5rem;
  color: #ccd6f6;
  font-weight: 100;
  margin-top: 0px;
}

h4 {
  font-size: 1rem;
  color: #64768B;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
}

h6 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1rem;
  font-weight: 100;
  color:  #64768B; 
}

.subheading {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1rem;
  font-weight: 100;
  color: #64FFDA;
  padding: 1rem 0 0 0;
  margin: 2rem 0 0 0;
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Header */

.r-logo {
  float: left;
  display: flex;
  font-family: 'Anonymous Pro', monospace;
  align-items: center;
  color: #64FFDA;
  font-weight: 100;
  font-size: 1rem;
}

.topnav {
  display: flex;
  justify-content: space-between;
}

.topnav ul {
  display: flex;
  align-items: center;
}

.topnav li {
  font-family: 'Anonymous Pro', monospace;
  display: inline;
  color: #64FFDA;
  font-weight: 100;
  font-size: 1rem;
  padding: 0 0 0 0.5rem;
}

.topnav li a {
  text-decoration: none;
  padding: 1rem 1rem;
  color: #64FFDA;
}

.topnav a {
  border: 1px solid transparent;
  float: left;
}

.topnav-right {
  float: right;
}

.contact-btn {
  background-color: #0f172a;
  color:#64FFDA;
  border: 1px solid #64FFDA;
  padding: 0px;
  margin-left: 1rem;
}

li.contact-btn {
  padding: 0px;
}

  .topnav a:hover {
    border-bottom: 1px solid #64FFDA;
  }

  .contact-btn a:hover {
    background-color: #64FFDA;
    color:#0f172a;
    border: 1px solid #64FFDA;
  }

 /* About */

 /* Animation */
  
.anim-typewriter{

  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 14em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}

.line-1{
  position: relative;
  top: 50%;  
  width: 24em;
  margin-top: 1rem;
  border-right: solid #ffffffbf;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 100;
  color: #64FFDA;
  font-family: 'Anonymous Pro', monospace;
  text-align: left;
  text-decoration: none;
  padding: 16px 0;
}

section {
  margin-top: 3rem;
}

.bio {
  display: flex;
  align-items: center;
}

.bio .profile-img {
  width: 360px;
  overflow: hidden;
  object-fit: contain;
}

.bio-text {
    margin: auto;
    padding-right: 50px;
}

@media (max-width: 1024px) {
    .bio {
        flex-direction: column;
    }
    .bio .profile-img {
      margin-inline-end: 0;
    }
    .article-img {
      margin-inline-end: 0;
    }
}

a.btn {
    text-decoration: none;
    color: #5EEAD4;
    background-color: #10564b;
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    border-radius: 1.25rem;
    margin: 2rem 0 0 0;
}

/* Projects */

.article-img1 {
    margin-inline-end: 0;
    max-width: 100px;
    object-fit: contain;
    margin-right: 1rem;
    border: 5px solid #0f172a;
}

.article-img2 {
    margin-inline-end: 0;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    margin-right: 1rem;
    background-color: #ffffff;
    border: 5px solid #ffffff;;
}

@media (max-width: 1024px) {
    .article {
        flex-direction: column;
    } 
}

.coding-website {
  min-width: 200px;
  color: #64768B;
  font-size: 1rem;
  margin: 0 0 0 0;
}

h5.coding-project {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 0 0;
}

.coding-project {
  color: #E2E8F0;
  display: flex;
}

.projects {
  display: flex;
  margin: 2rem 0 0 0;
}

.skills .fa-brands {
  margin-left: 1rem;
}

/* Experience */

h5.employer {
  margin: 2rem 0 0 0;
  font-size: 1rem;
  font-weight: 700;
}

.experience {
    display: flex;
}

.experience-location {
    display: inline-block;
    width: 1200px;
}

.date {
    min-width: 200px;
    color: #64768B;
    font-size: 1rem;
    margin: 2rem 0 0 0;
}

.employer {
    color: #E2E8F0;
    margin-top: 16px;
}

/* Footer */

footer {
  border-top-style: solid;
  color:#64768B;
  border-width: 1px;
  margin-top: 3rem;
}

.copyright {
  font-family: 'Anonymous Pro', monospace;
  color:  #64768B;
  text-align: left;
  padding: 16px 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
  width: auto;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  border-top-style: solid;
  border-top: #64FFDA;
  border-width: 1px;
}

.bottom-nav ul {
  display: flex;
  align-items: center;
}

.bottom-nav li {
  display: inline;
  margin-inline-start: 1rem;
  font-family: 'Anonymous Pro', monospace;
  color:  #64768B;
  font-weight: 100;
  font-size: 1rem;
}

.bottom-nav li a {
  text-decoration: none;
  color: var(--primary);
}

ul.bottom-nav-right {
  padding: 0px;
}

ul.bottom-nav-mid {
  padding: 0px;
}

  .bottom-nav a:hover {
    color: #94A3B8;
  }
  
  .bottom-nav a:active {
    color: #64768B;
  }



  /* Socials */

  .contact-container h1 {
    font-family: 'Anonymous Pro', monospace;
    font-size: 3rem;
    font-weight: 100;
    margin: 2rem 0 1rem 0;
    color: #64FFDA;
  }

  .contact-container p {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.5rem;
    font-weight: 100;
    margin: 2rem 0 1rem 0;
    color:#64768B;
  }

  /* Contact Form */

  .email-header {
    font-family: 'Anonymous Pro', monospace;
    font-size: 2rem;
    margin: 0 0 2rem 0;
  }

  input[type=text], textarea {
    font-family: 'Anonymous Pro', monospace;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 1rem;
    resize: vertical;
  }

  input[type=email] {
    font-family: 'Anonymous Pro', monospace;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 1rem;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:#64768B;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color:#94A3B8;
  }
  
  .form-container {
    padding: 1.5rem 0;
    font-family: 'Anonymous Pro', monospace;;
  }