body {
  background: #0f172a;
  color: #94A3B8;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 50px;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

@media only screen and (max-width: 1024px) {
  .bio .profile-img {
    margin-inline-end: 0;
  }

  .article {
    flex-direction: column;
  }

  .article-img {
    margin-inline-end: 0;
  }
}

@media only screen and (max-width: 768px) {
  body {
    max-width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .bio .profile-img {
    margin-inline-end: 0;
  }

  .article-img1 {
    margin-inline-end: 0;
    display: none;
  }

  .article-img2 {
    margin-inline-end: 0;
    display: none;
  }

  .bottom-nav-right a {
    display: none;
    margin: 0;
    visibility: hidden;
  }
}

@media only screen and (max-width: 690px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }

  .header-right {
    float: none;
  }
}

@media only screen and (max-width: 680) {
  .bio {
    flex-direction: column;
  }

  div.bio-text {
    margin: auto;
    margin: 0 0 0 0;
  }
}

@media only screen and (max-width: 480px) {
  body {
    max-width: 480px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .bio {
    flex-direction: column;
  }

  .bio .profile-img {
    margin-inline-end: 0;
  }

  .article-img1 {
    margin-inline-end: 0;
    display: none;
  }

  .article-img2 {
    margin-inline-end: 0;
    display: none;
  }

  .skills .fa-brands {
    margin-left: 1rem;
    padding-bottom: 2rem;
  }
}

h1 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.5rem;
  color: #64FFDA;
}

h2 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1rem;
  font-weight: 100;
  color: #64FFDA;
  padding: 1rem 0 0 0;
  margin: 2rem 0 0 0;
}

h3 {
  font-size: 2.5rem;
  color: #ccd6f6;
  font-weight: 100;
  margin-top: 0px;
}

h4 {
  font-size: 1rem;
  color: #64768B;
}

h5 {
  font-size: 1rem;
  font-weight: 700;
}

h6 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1rem;
  font-weight: 100;
  color: #64768B;
}

.subheading {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1rem;
  font-weight: 100;
  color: #64FFDA;
  padding: 1rem 0 0 0;
  margin: 2rem 0 0 0;
}

/* Header */

.header {
  overflow: hidden;
  padding: 1.25rem 0;
  font-family: 'Anonymous Pro', monospace;
}

.header a {
  float: left;
  color: #64FFDA;
  text-align: center;
  margin: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid transparent;
}

.header a.logo {
  font-size: 1rem;
  font-weight: 100;
  margin: 1rem 1rem 1rem 0;
}

.header-right a:hover {
  border-bottom: 1px solid #64FFDA;
}

.header-right {
  float: right;
}

.contact-btn {
  margin-left: 1rem;
}

.contact-btn a:hover {
  background-color: #64FFDA;
  color: #0f172a;
  border: 1px solid #64FFDA;
}

/* About */

/* Animation */

.anim-typewriter {

  animation: typewriter 4s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 14em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}

.line-1 {
  position: relative;
  top: 50%;
  width: 24em;
  margin-top: 1rem;
  border-right: solid #ffffffbf;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
  font-size: 1rem;
  font-weight: 100;
  color: #64FFDA;
  font-family: 'Anonymous Pro', monospace;
  text-align: left;
  text-decoration: none;
  padding: 16px 0;
}

section {
  margin-top: 0.25rem;
}

.bio {
  display: flex;
  align-items: center;
}

.bio .profile-img {
  max-width: 240px;
  height: auto;
  overflow: hidden;
  object-fit: contain;
}

.bio-text {
  margin: auto;
  margin: 0 50px 0 0;
}

a.btn {
  text-decoration: none;
  color: #5EEAD4;
  background-color: #10564b;
  padding: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 1.25rem;
  margin: 2rem 0 0 0;
}

.git-btn {
  display: flex;
  justify-content: center;
}

/* Projects */

.article-img1 {
  margin-inline-end: 0;
  max-width: 100px;
  object-fit: contain;
  margin-right: 1rem;
  border: 5px solid #0f172a;
}

.article-img2 {
  margin-inline-end: 0;
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
  margin-right: 1rem;
  background-color: #ffffff;
  border: 5px solid #ffffff;
  ;
}

.projects {
  display: flex;
  margin: 2rem 0 0 0;
}

.coding-website {
  min-width: 120px;
  color: #64768B;
  font-size: 1rem;
  margin: 0 0.5rem 0 0;
}

h5.coding-project {
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 0 0;
}

.coding-project {
  color: #E2E8F0;
  display: flex;
}

.skills .fa-brands {
  margin-left: 1rem;
}

/* Experience */

h5.employer {
  margin: 0 0 0 0;
  font-size: 1rem;
  font-weight: 700;
}

.experience {
  display: flex;
  margin: 2rem 0 0 0;
}

.experience-location {
  display: inline-block;
}

.date {
  min-width: 120px;
  color: #64768B;
  font-size: 1rem;
  margin: 0 0.5rem 0 0;
}

.employer {
  color: #E2E8F0;
  margin-top: 0.5rem;
}

/* Footer */

footer {
  border-top-style: solid;
  color: #64768B;
  border-width: 1px;
  margin-top: 3rem;
}

.copyright {
  font-family: 'Anonymous Pro', monospace;
  color: #64768B;
  text-align: left;
  padding: 16px 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
  width: auto;
}

.bottom-nav {
  display: flex;
  justify-content: space-between;
  border-top-style: solid;
  border-top: #64FFDA;
  border-width: 1px;
}

.bottom-nav ul {
  display: flex;
  align-items: center;
}

.bottom-nav li {
  display: inline;
  margin-inline-start: 1rem;
  font-family: 'Anonymous Pro', monospace;
  color: #64768B;
  font-weight: 100;
  font-size: 1rem;
}

.bottom-nav li a {
  text-decoration: none;
  color: var(--primary);
}

ul.bottom-nav-right {
  padding: 0px;
}

ul.bottom-nav-mid {
  padding: 0px;
}

.bottom-nav a:hover {
  color: #94A3B8;
}

.bottom-nav a:active {
  color: #64768B;
}

/* Socials */

.contact-container h1 {
  font-family: 'Anonymous Pro', monospace;
  font-size: 3rem;
  font-weight: 100;
  margin: 2rem 0 1rem 0;
  color: #64FFDA;
}

.contact-container p {
  font-family: 'Anonymous Pro', monospace;
  font-size: 1.5rem;
  font-weight: 100;
  margin: 2rem 0 1rem 0;
  color: #64768B;
}

.social-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0px;
}

.social-btns .fa-brands {
  padding: 20px 20px;
  color: #007bb6;
}

.social-btns .fa-x-twitter {
  color: #ffffff;
}

.social-btns .fa-linkedin {
  color: #007bb6;
}

.social-btns .fa-instagram {
  color: #bc2a8d;
}

.social-btns .fa-github {
  color: #ffffff;
}

/* Contact Form */

.email-header {
  font-family: 'Anonymous Pro', monospace;
  font-size: 2rem;
  margin: 0 0 2rem 0;
}

input[type=text],
textarea {
  font-family: 'Anonymous Pro', monospace;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 1rem;
  resize: vertical;
}

input[type=email] {
  font-family: 'Anonymous Pro', monospace;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 1rem;
  resize: vertical;
}

input[type=submit] {
  background-color: #64768B;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #94A3B8;
}

.form-container {
  padding: 1.5rem 0;
  font-family: 'Anonymous Pro', monospace;
}