body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #1b2526;
  }

  h1 {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1.5rem;
    color: #64FFDA;
  }
  
  h2 {
    font-family: 'Anonymous Pro', monospace;
    font-size: 2rem;
    font-weight: 100;
    color:#64768B;
  }
  
  h3 {
    font-size: 3.5rem;
    color: #ccd6f6;
    font-weight: 100;
    margin-top: 0px;
  }
  
  h4 {
    font-size: 3rem;
    color: #64768B;
  }
  
  h5 {
    font-size: 1rem;
    font-weight: 700;
  }
  
  h6 {
    font-family: 'Anonymous Pro', monospace;
    font-size: 1rem;
    font-weight: 100;
    color: #64768B;
  }
  
  .hero-image {
    background-image: url('../images/green-code.jpg');
    height: 90%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
    flex-direction:column;
   
  }

  
  .hero-text {
    position: absolute;
    top: 10%;
    text-align: left;
    padding: 0 0 0 3rem;
    width: 50%;
  }
  
  .hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: #1b2526;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
  }
  
  .hero-text button:hover {
    background-color: #555;
    color: white;
  }

  .header {
    overflow: hidden;
    padding: 1rem 0 0 0;
    font-family: 'Anonymous Pro', monospace;
  }
  
  .header a {
    float: left;
    color:#ccd6f6;
    text-align: center;
    margin: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5rem;
    border: 1px solid transparent;
  }
  
  .header a.logo {
    font-size: 1rem;
    font-weight: 100;
    margin: 1rem 1rem 1rem 3rem;
  }
  
  .header-right a:hover {
    border-bottom: 1px solid #008f11;
    color: #008f11;
  }
  
  .header-right {
    float: right;
    margin-right: 3rem;
  }
  
  .contact-btn {
    margin-left: 1rem;
  }
  
  .contact-btn a:hover {
    background-color: #008f11;
    color: #1b2526;
    border: 1px solid #008f11;
  }

  @media only screen and (max-width: 690px) {
    .logo {
      display: none;
    }
  
    .header-right {
      float: none;
    }
  }

  @media only screen and (max-width: 480px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
  
    .header-right {
      float: none;
    }
  
    .bottom-nav {
      float: none;
      display: block;
    }
  
    .bottom-nav-right {
      float: none;
    }
  }

  /* Animation */

  .line-1 {
    width: 24em;
    margin: 1rem 0 4rem 0;
    border-right: solid #ffffffbf;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
    font-weight: 100;
    color: #008f11;
    font-family: 'Anonymous Pro', monospace;
    text-align: left;
    text-decoration: none;
  }

  .anim-typewriter {

    animation: typewriter 4s steps(44) 1s 1 normal both,
      blinkTextCursor 500ms steps(44) infinite normal;
  }
  
  @keyframes typewriter {
    from {
      width: 0;
    }
  
    to {
      width: 14em;
    }
  }
  
  @keyframes blinkTextCursor {
    from {
      border-right-color: #ffffffbf;
    }
  
    to {
      border-right-color: transparent;
    }
  }
  
  .name {
    margin: 0 0 2rem 0;
  }
  
  .title {
    margin: 0 0 0 0;
  }

/* Projects */

.projects {
  background-color: #f3f3f3;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  padding: 3rem 3rem;
}

.project-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 0;
}

.project {
  padding: 2rem 2rem 0;
  margin: 0px 1rem;
  background-color: white;
  width: 30%;
}

.project .image-container {
  max-width: 35%;
  height: auto;
  margin: 0 auto;
}

.project .content {
  padding: 2.5rem 0;
}

.projects h2 {
  font-size: 2rem;
  color: #4a4a4a;
  margin: 2rem 0 0 0;
}

.project h2 {
  font-size: 2rem;
  color: #4a4a4a;
}

.project h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}

/* Experience */
 
.experience {
  background-color:#1b2526;
  height: auto;
  width: 40%;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  padding: 3rem 3rem;
}

.experience h2 {
  font-size: 2rem;
  color:#ccd6f6;
  margin: 2rem 0;
}

h5.employer {
  margin: 0 0 0 0;
  font-size: 1rem;
  font-weight: 700;
}

.experience-container {
  display: flex;
  margin: 2rem 0 0 0;
}

.experience-location {
  display: inline-block;
}

.date {
  min-width: 120px;
  color: #64768B;
  font-size: 1rem;
  margin: 0 0.5rem 0 0;
}

.employer {
  color: #E2E8F0;
  margin-top: 0.5rem;
}

/* Footer */

footer {
  border-top-style: solid;
  color: #64768B;
  border-width: 1px;
  margin-top: 3rem;
  display: flex;
  list-style-type: none;
  text-align: center;
  padding: 0;
  justify-content: space-between;
}

ul.left-nav {
  padding: 0 0 0 3rem;
}

.left-nav li {
  display: inline-block;
  font-family: 'Anonymous Pro', monospace;
  color: #64768B;
  text-align: left;
  padding: 16px 0;
  margin: 0px;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 100;
  width: auto;
}

ul.mid-nav {
  padding: 0;
}

.mid-nav li {
  display: inline-block;
  font-family: 'Anonymous Pro', monospace;
  padding: 1rem;
}

.mid-nav a {
  color: #64768B;
}

ul.right-nav {
  padding: 0 3rem 0 0;
}

.right-nav li {
  display: inline-block;
  font-size: 1rem;
  padding: 1rem;
  text-decoration: none;
}

.right-nav a {
  text-decoration: none;
  font-family: 'Anonymous Pro', monospace;
  color: #64768B;
}

.mid-nav a:hover {
  color: #94A3B8;
}

.right-nav a:hover {
  color: #94A3B8;
}